@mixin button-styles($bg-color, $font-size, $font-weight, $color, $border-radius, $px, $py) {
    padding: $py $px;
    border: none;
    background: $bg-color;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    border-radius: $border-radius;
}
  