$bg_primary_cyan:hsl(180, 66%, 49%);
$bg_primary_violet:hsl(257, 27%, 26%);
$c_error:hsl(0, 87%, 67%);
$c_neutral_gray: hsl(0, 0%, 75%);
$c_neutral_lightBlue:hsl(225,33.33%, 95.29%);
$c_neutral_grayishViolet: hsl(257, 7%, 63%);
$c_neutral_veryDarykBlue:hsl(255, 11%, 22%);
$c_neutral_veryDarkViolet: hsl(260, 8%, 14%);
$fw_normal:500;
$fw_bold:700;