@use '../../../assets/scss/base/index' as i;
@use '../../../assets/scss/utilities/mixins' as m;

.b-introSection{
    display:flex;
    flex-direction: column-reverse;
    margin-bottom:2em;
    
    &__imgContainer{
        padding-left:1em;
        overflow: hidden;
        
        img{
            display: block;
            width:450px;
            height: auto;
        }
        @media (min-width:500px) {
            &{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &__getStarted{
        text-align: center;
        margin:3.5em 0;
        padding:0 1em;

        h2{
            font-size:2.2em;
            line-height: 1.2em;
            margin-bottom:0.3em;
            color: i.$c_neutral_veryDarykBlue;
        }
        p{
            margin-bottom:1em;
            color:i.$c_neutral_grayishViolet;
            font-weight: i.$fw_normal;
        }

        button{
            @include m.button-styles(i.$bg_primary_cyan, 1em, i.$fw_bold, white, 50px, 2rem, 1rem);
            &:hover{
                @include m.buttonHover(none,pointer ,0.5 )
            }
        }
    }
}

@media (min-width:768px) {
    .b-introSection{

        &__getStarted{
            width:80%;
            margin: 3.5em auto;
        }
    }
}
@media (min-width:1024px) {
    .b-introSection{
        flex-direction: row;
        align-items: center;
        margin:1em auto 0 auto;
        padding:0;
        width:90%;
        max-width: 1100px;
        
        &__getStarted{
            padding: 0;
            text-align: start;
            
            h2{
                font-size:3.5em;
                margin-bottom:0;

            }
            p{
                margin-bottom:2em;
                padding-right:50px;
            }
        }
        &__imgContainer{
            overflow: unset;
            width: 50%;
            
            img{
                position: relative;
                right:-100px;
                width:700px;
            }
        }
    }
}
// @media (min-width:1440px) {
//     .b-introSection{
//         width:1100px;
//     }

// }