@use '../../../assets/scss/base/index' as i;
@use '../../../assets/scss/utilities/mixins' as m;

.b-introSection{
    display:flex;
    flex-direction: column-reverse;
    margin-bottom:2em;
    
    &__imgContainer{
        padding-left:1em;
        overflow: hidden;
        
        img{
            display: block;
            width:450px;
            height: auto;
        }
        @media (min-width:500px) {
            &{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &__getStarted{
        text-align: center;
        margin:3.5em 0;
        padding:0 1em;

        h2{
            font-size:2.2em;
            line-height: 1.2em;
            margin-bottom:0.3em;
            color: i.$c_neutral_veryDarykBlue;
        }
        p{
            margin-bottom:1em;
            color:i.$c_neutral_grayishViolet;
            font-weight: i.$fw_normal;
        }

        button{
            @include m.button-styles(i.$bg_primary_cyan, 1em, i.$fw_bold, white, 50px, 2rem, 1rem);
        }
    }
}

@media (min-width:768px) {
    .b-introSection{

        // &__imgContainer{
        //     width: 50%;
        // }

        &__getStarted{
            width:80%;
            margin: 3.5em auto;
        }
    }
}
@media (min-width:1024px) {
    .b-introSection{
        flex-direction: row;

        &__getStarted{
            width: 50%;
        }
        &__imgContainer{
            width:50%;
            // padding-left:100px;
            img{
                width:600px;
            }
        }
    }
}