@use '../../../assets/scss/utilities/mixins' as m;
@use '../../../assets/scss/base/index' as i;
.b-shortenContainer{
    margin-top:100px;
    background:i.$c_neutral_lightBlue;
    
    &__shortenSection{
        position: relative;
        top:-100px;
        padding:1.2em;
        margin:0 1em;
        border-radius: 10px;
        background:url(../../../assets/images/bg-shorten-mobile.svg);
        background-repeat: no-repeat;
        background-position: top right;
        background-color: i.$bg_primary_violet;
        color: white;
    
        &__inputContainer{
            display: flex;
            flex-direction: column;
            width:100%;
    
            input{
                padding:1em;
                border: none;
                border-radius: 5px;
                &.error{
                    border: 2px solid i.$c_error;
                }
            }
           
            p{
                display: none;
    
                &.error{
                    display:block;
                    margin-top:2px;
                    font-size:0.7em;
                    font-style: italic;
                    color:i.$c_error;
                }
            }
        }
        button{
            margin-top:1em;
            width:100%;
            @include m.button-styles(i.$bg_primary_cyan, 1em, i.$fw_bold, white, 5px, 0, 1rem);
            
            &:hover{
                @include m.buttonHover(none, pointer, 0.5);
            }
        }
    }
    
    &__linkCards{
        margin: 0 1em;    

        &__container{   
            position: relative;
            top: -80px;
            display: flex;
            flex-direction: column;
            gap:1em;
            list-style-type: none;
            
            &__card{
                position: relative;
                display:flex;
                flex-direction: column;
                background:white;
                border-radius:4px;

                span{   
                    padding: 0.5em 1em;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    border-bottom:2px solid i.$c_neutral_gray;
                }
                &__body{
                    display: flex;
                    flex-direction: column;
                    gap:0.5em;
                    padding:1em 1em;
                    
                    a{
                        text-decoration: none;
                        color:i.$bg_primary_cyan;
                        
                    }
                    &__copyButton{
                        @include m.button-styles(i.$bg_primary_cyan, 1em, i.$fw_bold, white, 5px, 0, 1rem);
                        
                        &:hover{
                            @include m.buttonHover(none, pointer, 0.5);
                        }   

                        &--active{
                            @include m.button-styles(i.$bg_primary_violet, 1em, i.$fw_bold, white, 5px, 0, 1rem);
                        }
                    }
                }
            }
        }
    }
    @media (min-width:768px) {
        &__shortenSection{
            width:80%;
            margin: 0 auto;
        }
        &__linkCards{
            width:80%;
            margin: auto;


            &__container{

                &__card{
                    padding:0.5em 1em;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    gap:1em;

                    span{   
                        // display: none   ;
                        padding: 0;
                        border-bottom:none;
                    }
                    &__body{
                        flex-direction: row;    
                        align-items: center;
                        gap:0.5em;
                        padding:0;
                        
                        // a{
                        //     // text-decoration: none;
                        //     // color:i.$bg_primary_cyan;
                        // }
                        &__copyButton{
                            padding:0.5em 1em;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1024px) {
    .b-shortenContainer{
        margin-top:100px;
        // width:100%;

        &__shortenSection{
            top:-60px;
            display: flex;
            // align-items: center;
            gap:1em;
            width:90%;
            max-width:1100px;
            padding:2em;    
            background-image:url(../../../assets/images/bg-shorten-desktop.svg);
            background-position: center;
            
            &__inputContainer{
                // flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                input{
                    width:100%;
                    gap:0;
                    padding:1.1rem;
                }
            }
            button{
                align-self: flex-start;
                width:15%;
                margin: 0;
            }
        }

        &__linkCards{
            width:90%;
            max-width:1100px;
            &__container{
                inset:0;
                margin:auto;
            }
        }
    
    }

}

// @media (min-width:1440px) {
//     .b-shortenContainer{
//         margin-top:150px;
//         // width:100%;
//         &__shortenSection{
//             top:-60px;
//             display: flex;

//             &__inputContainer{
//                 // flex-direction: row;
//                 justify-content: space-between;
//                 align-items: flex-start;
//                 input{
//                     width:100%;
//                     gap:0;
//                     padding:1.1rem;
//                 }
//             }
//             button{
//                 align-self: flex-start;
//                 width:15%;
//                 margin: 0;
//             }
//         }

//         &__linkCards{

//             &__container{
//                 width:1100px;
//                 inset:0;
//                 margin:auto;
//             }
//         }
    
//     }
// }